<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
  <meta charset="UTF-8">
  <title>아이템 등록</title>
</head>
<body>
<th:block layout:fragment="content">

<form action="/admin/item/register" method="post" th:object="${itemDTO}" enctype="multipart/form-data">
  <div class="row mt-4">
      <h1 class="text-center">등록</h1>
      <div class="col-8 offset-2">

          <div class="row">
              <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupSelect01">판매상태</label>
                  <select class="form-select" id="inputGroupSelect01" th:field="*{itemSellStatus}">
                      <option value="SELL">판매중</option>
                      <option value="SOLD_OUT">품절</option>
                  </select>
              </div>
          </div>

          <div class="row">
              <div class="input-group mb-3">
                  <span class="input-group-text" id="itemNm">상품명</span>
                  <input type="text" class="form-control" th:field="*{itemNm}" placeholder="상품명을 입력해주세요" aria-label="Username" aria-describedby="basic-addon1">
                  <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}" class="fieldError"/>
              </div>
          </div>

          <div class="row">
              <div class="input-group mb-3">
                  <span class="input-group-text" id="price">가격</span>
                  <input type="number" min="0" class="form-control" th:field="*{price}" placeholder="가격을 입력해주세요." aria-label="Username" aria-describedby="basic-addon1" required>
              </div>
              <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"/>
          </div>

          <div class="row">
              <div class="input-group mb-3">
                  <span class="input-group-text" id="stockNumber">재고수량</span>
                  <input type="number" min="0" class="form-control" th:field="*{stockNumber}" placeholder="재고수량을 입력해주세요." aria-label="Username" aria-describedby="basic-addon1" required>
                  <p th:if="${#fields.hasErrors('stockNumber')}" th:errors="*{stockNumber}" class="fieldError"/>
              </div>
          </div>

          <div class="row">
              <div class="input-group mb-3">
                  <div class="input-group">
                      <span class="input-group-text" id="itemDetail">상세설명</span>
                      <textarea class="form-control" th:field="*{itemDetail}" aria-label="With textarea"></textarea>
                  </div>
                  <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError"/>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <div class="row main imgpreview"></div>
                  <div class="row imgd imgpreview row-cols-md-4 row-cols-1"></div>
              </div>
          </div>

          <div class="imgA">
              <label for="formFileLg1" class="form-label">대표이미지</label>
              <input name="mainimg" class="form-control form-control-lg mainimg imgInput" id="formFileLg1" type="file">
          </div>


          <div class="imgA">
              <label for="formFileLg2" class="form-label">상세이미지</label>
              <input name="mutipartFile" class="form-control form-control-lg imgInput" id="formFileLg2" type="file">
          </div>




      </div>
  </div>



    <button type="submit">저장</button>

</form>

</th:block>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        console.log("실행하노???????????????")
        $(document).ready(function () {

            let msg = [[${msg}]]
            let imgA = $(".imgA")

            // input:file 대한 이벤트
            imgA.on("change", "input", function () {
                // 파일에 대한 유효성 검사
                let fileName = $(this).val().split("\\").pop()
                console.log(fileName)

                let fileExt = fileName.substring(fileName.lastIndexOf(".") + 1)

                fileExt = fileExt.toLowerCase()

                if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png"
                    && fileExt != "bmp") {

                    $(this).val("")
                    alert("이미지 파일만 넣어주세요.")

                    return false;
                }


                if (this.classList.contains("mainimg")){
                    // 클래스중에 mainimg가 있다면
                    // 대표 이미지 미리보기
                    // console.log(this)
                    readURLMain(this)
                }else{
                    // 상세 이미지 미리보기
                    readURL(this)
                }

            })

            $(".imgpreview").on("click", "button", function () {

                $(this).parent().remove();

            })

            imgInputCheck(msg)
            function imgInputCheck(msg) {
                if (msg){
                    alert(msg)
                }
            }

            // 미리보기(대표)
            function readURLMain( input ) {
                console.log("드왔노?")
                if (input.files && input.files[0]){
                    console.log("드왔니?")
                    let reader = new FileReader();
                    console.log("들왔?")
                    reader.onload = function (e) {
                        console.log("들왔노?")
                        let inputtag = document.createElement("input")

                        inputtag.type = "file";
                        inputtag.name = "mainimg";

                        // 참조 값 복사
                        // inputtag.files = input.files;

                        // 이건 깊은 복사 다잉?
                        const dataTransfer = new DataTransfer()
                        const fileDatas = Array.from(input.files)

                        fileDatas.forEach(file => dataTransfer.items.add(file))

                        inputtag.files = dataTransfer.files;

                        let str1 = `<div class="preview col position-relative"><img width="100%" src="${e.target.result}"/><button type="button" class="bb position-absolute top-0 end-0 btn btn-dark">올리지 않기</button></div>`

                        $(".main").html(str1)
                        $(".main").find('div:eq(0)').append(inputtag)
                        $(".main").find('input').hide()
                        $(".imgInput").val("")
                        console.log("야 했노?")
                    }
                    reader.readAsDataURL(input.files[0])
                    console.log("실행 다 했다 씁새야?")
                }

            }

            // 미리보기(상세)
            function readURL(input) {

                if (input.files && input.files[0]){
                    console.log("상세 드왔?")
                    let reader = new FileReader();
                    console.log("상세 들왔?")
                    reader.onload = function (e) {
                        console.log("상세 들왔노?")
                        let inputtag = document.createElement("input")

                        inputtag.type = "file";
                        inputtag.name = "multipartFile";

                        // 참조 값 복사
                        // inputtag.files = input.files;

                        // 이건 깊은 복사 다잉?
                        const dataTransfer = new DataTransfer()
                        const fileDatas = Array.from(input.files)

                        fileDatas.forEach(file => dataTransfer.items.add(file))

                        inputtag.files = dataTransfer.files;

                        let str1 = `<div class="preview col position-relative"><img width="100%" src="${e.target.result}"/>
                                            <button type="button" class="bb position-absolute top-0 end-0 btn btn-dark">올리지 않기</button>
                                    </div>`

                        $(".imgd").prepend(str1)
                        $(".imgd").find('div:eq(0)').append(inputtag)
                        $(".imgd").find('input').hide()
                        $(".imgInput").val("")
                        console.log("상세야 했노?")
                    }
                    reader.readAsDataURL(input.files[0])
                    console.log("상세실행 다 했다 씁새야?")
                }

            }


        })

    </script>

</th:block>

</body>
</html>